
    .PollutionOuter {
      color: #fff;
      font-size: 1rem;
      padding-top: 10px;
    }

    .PollutionLocation {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #999;
    }

    .PollutionLocationOuter {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .PollutionLocationIcon {
      width: 1rem;
      margin-left: 0.7rem;
    }

    .PollutionChart {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }

    .PollutionTips {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #999;
      padding: 0 20px;
      margin-bottom: 15px;
    }

    .PollutionTipsTxt {
      width: 75%;
      padding: 2%;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      text-align: justify;
    }
  