
    .pbhOuter {
      color: #fff;
      font-size: 1rem;
    }

    .pbhMain {
      background: rgba(0, 0, 0, 0.2);
    }

    .pbhStatus {
      padding: 20px 20px 30px 20px;
      font-size: 1.3rem;
    }

    .pbhMainTop {
      padding: 20px;
      border-bottom: 1px solid #999;
      font-size: 1.3rem;
    }

    .pbhContent {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    .pbhContentItem {
      display: flex;
      flex-direction: column;
      padding: 30px 20px;
    }

    .yb-big {
      margin: 30px 0;
    }
  