
    .w24hTitle {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding: 6px 12px;
      color: #fff;
      font-size: 0.9rem;
    }

    .w24hMain {
      height: 222px;
      width: 100%;
      position: relative;
    }

    .w24hLeft {
      position: absolute;
      top: 0;
      left: 0;
      width: 35px;
      height: 100%;
    }

    .w24hLeft>div {
      box-sizing: border-box;
      height: 60px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      transform: translateY(1px);
      position: relative;
    }

    .w24hLeft>div>div {
      position: absolute;
      right: 0;
      bottom: 0;
      color: white;
      font-size: 0.9rem;
      width: 100%;
      text-align: center;
    }

    .w24hRight {
      margin-left: 35px;
      overflow-y: hidden;
      overflow-x: scroll;
    }

    .w24hHideImage {
      display: none;
    }
  