<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 亿格订单管理 -->
	<bean id="egOrderAction" class="com.by.hctm.eg.action.EgOrderAction" scope="prototype"> 	
		<property name="IEgOrderBiz" ref="IEgOrderBiz" /> 
	</bean>
	<bean id="IEgOrderBiz" class="com.by.hctm.eg.biz.impl.EgOrderBizImpl" >
		<property name="baseDao" ref="baseDao"></property>
	</bean>
 
</beans>

 




