<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 部门管理 -->
	<bean id="departmentsAction" class="com.by.hctm.system.action.DepartmentsAction" scope="prototype">
		<property name="IDepartmentsBIZ" ref="IDepartmentsBIZ" />
		<property name="iUsersBiz" ref="iUsersBiz" /> 
	</bean>
	<bean id="IDepartmentsBIZ" class="com.by.hctm.system.biz.impl.DepartmentsBizImpl"
		scope="prototype">
		<property name="baseDao" ref="baseDao"></property>
	</bean>

	<!-- 用户管理 -->
	<bean id="sysUsersAction" class ="com.by.hctm.system.action.UsersAction" scope="prototype">
		<property name="iUsersBiz" ref="iUsersBiz" /> 
		<property name="IDepartmentsBIZ" ref="IDepartmentsBIZ" />
	</bean>
		
	<!-- 权限管理 -->
	<bean id="rightsAction" class="com.by.hctm.system.action.RightsAction"   scope="prototype">
		<property name="IRightsBIZ" ref="IRightsBIZ" />
	</bean>
	<bean id="IRightsBIZ" class="com.by.hctm.system.biz.impl.RightsBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>

	<!-- 用户权限管理 <bean id="UserRightsAction" class ="com.by.hctm.system.action.UserRightsAction"   scope="prototype"> 
		<property name="iUserRightsBIZ" ref="UserRightsBIZ" /> </bean> <bean id="UserRightsBIZ" 
		class ="com.by.hctm.system.biz.impl.UserRightsBizImpl"> <property name="baseDao" 
		ref="baseDao"></property> </bean> -->
		
	<!-- 项目专业管理 -->
	<bean id="subjectsAction" class="com.by.hctm.system.action.SubjectsAction" scope="prototype">
		<property name="ISubjectsBIZ" ref="ISubjectsBIZ"></property>
	</bean>
	<bean id="ISubjectsBIZ" class="com.by.hctm.system.biz.impl.SubjectsBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>

	<!--项目工序管理 -->
	<bean id="StagesAction" class="com.by.hctm.system.action.StagesAction" scope="prototype">
		<property name="iStagesBiz" ref="IStagesBIZ"></property>
		<property name="iSubjectsBIZ" ref="ISubjectsBIZ"></property>
	</bean>
	<bean id="IStagesBIZ" class="com.by.hctm.system.biz.impl.StagesBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>

	<!-- 风险点 -->
	<bean id="RisksAction" class="com.by.hctm.system.action.RisksAction" scope="prototype">
		<property name="iRisksBiz" ref="IRisksBIZ" />
		<property name="iStagesBiz" ref="IStagesBIZ"/>
		<property name="iSubjectsBIZ" ref="ISubjectsBIZ"></property>
	</bean>
	<bean id="IRisksBIZ" class="com.by.hctm.system.biz.impl.RisksBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>

	<!-- 监理资料类别管理 
	<bean id="MaterialTypesAction" class="com.by.hctm.system.action.MaterialTypesAction"   scope="prototype">
		<property name="iMaterialTypesBIZ" ref="IMaterialTypesBIZ" />
	</bean>
	<bean id="IMaterialTypesBIZ" class="com.by.hctm.system.biz.impl.MaterialTypesBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	 -->
	<!-- 监理资料名称管理
	<bean id="MaterialNamesAction" class="com.by.hctm.system.action.MaterialNamesAction"   scope="prototype">
		<property name="iMaterialNamesBiz" ref="iMaterialNamesBiz" />
		<property name="iStagesBiz" ref="IStagesBIZ"></property>
		<property name="iSubjectsBIZ" ref="ISubjectsBIZ"></property>
		<property name="iMaterialStagesBiz" ref="iMaterialStagesBiz" />
		<property name="iMaterialTypesBIZ" ref="IMaterialTypesBIZ" />
	</bean>
	<bean id="iMaterialNamesBiz" class="com.by.hctm.system.biz.impl.MaterialNamesBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	 -->
	<!--项目专业工序资料对应表 
	<bean id="MaterialStagesAction" class="com.by.hctm.system.action.MaterialStagesAction" scope="prototype">		
		<property name="iMaterialStagesBiz" ref="iMaterialStagesBiz" />
		<property name="iMaterialNamesBiz" ref="iMaterialNamesBiz" />
		<property name="iSubjectsBIZ" ref="ISubjectsBIZ"></property>
		<property name="iStagesBiz" ref="IStagesBIZ"/>
		<property name="iMaterialTypesBIZ" ref="IMaterialTypesBIZ" />
	</bean>
	<bean id="iMaterialStagesBiz" class="com.by.hctm.system.biz.impl.MaterialStagesBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	-->
	<!-- 监造专业管理 
	<bean id="ConstructionSubjectsAction" class="com.by.hctm.system.action.ConstructionSubjectsAction"   scope="prototype">
		<property name="IConstructionSubjectsBIZ" ref="IConstructionSubjectsBIZ" />
	</bean>
	<bean id="IConstructionSubjectsBIZ" class="com.by.hctm.system.biz.impl.ConstructionSubjectsBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	-->
	<!-- 项目监理物资装备管理 
	<bean id="iSpuervisionEquipsBiz" class="com.by.hctm.system.biz.impl.SpuervisionEquipsBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	<bean id="SpuervisionEquipsAction" class="com.by.hctm.system.action.SpuervisionEquipsAction"   scope="prototype">
		<property name="iSpuervisionEquipsBiz" ref="iSpuervisionEquipsBiz"></property>
	</bean>
	-->
	<!-- 安全质量检查内容管理
	<bean id="qualityCheckTitleAction" class="com.by.hctm.system.action.QualityCheckTitleAction"   scope="prototype">
		<property name="iQualityCheckTitleBIZ" ref="iQualityCheckTitleBIZ" />
	</bean>
	<bean id="iQualityCheckTitleBIZ" class="com.by.hctm.system.biz.impl.QualityCheckTitleBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	 -->
	<!-- 监造大纲管理->监造物资名称表
	<bean id="ConstructionEquipsAction" class="com.by.hctm.system.action.ConstructionEquipsAction" scope="prototype">
		<property name="IConstructionEquipsBiz" ref="IConstructionEquipsBiz"></property>
		<property name="IConstructionSubjectsBIZ" ref="IConstructionSubjectsBIZ" />
	</bean>
	<bean id="IConstructionEquipsBiz" class="com.by.hctm.system.biz.impl.ConstructionEquipsBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	 -->
	<!-- 监造大纲管理->监造物资见证信息表 
	<bean id="EquipWitnessAction" class="com.by.hctm.system.action.EquipWitnessAction" scope="prototype">
		<property name="IEquipWitnessBiz" ref="IEquipWitnessBiz"></property>
	</bean>
	<bean id="IEquipWitnessBiz" class="com.by.hctm.system.biz.impl.EquipWitnessBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	-->
	<!-- 公告发布 
	<bean id="NoticesAction" class="com.by.hctm.system.action.NoticesAction" scope="prototype">
		<property name="noticesBiz" ref="INoticesBiz" />
		<property name="iUsersBiz" ref="iUsersBiz" /> 
		<property name="IDepartmentsBIZ" ref="IDepartmentsBIZ" />
	</bean>
	<bean id="INoticesBiz" class="com.by.hctm.system.biz.impl.NoticesBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	-->
	<!-- 发文管理 
	<bean id="SendsAction" class="com.by.hctm.system.action.SendsAction" scope="prototype">
		<property name="sendsBiz" ref="ISendsBiz" />
		<property name="usersBiz" ref="iUsersBiz" /> 
		<property name="departmentsBIZ" ref="IDepartmentsBIZ" />
		<property name="sendReceiversBiz" ref="sendReceiversBiz" />
	</bean>
	<bean id="ISendsBiz" class="com.by.hctm.system.biz.impl.SendsBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	-->
	<!-- 发文信息接收表 
	<bean id="sendReceiversBiz" class="com.by.hctm.system.biz.impl.SendReceiversBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	-->
	<!-- 字典表管理 -->
	<bean id="dictAction" class="com.by.hctm.system.action.TSysDictAction"   scope="prototype">
		<property name="iTSysDictBiz" ref="iTSysDictBiz" />
	</bean>
	<bean id="iTSysDictBiz" class="com.by.hctm.system.biz.impl.TSysDictBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	
	<!-- 功能管理 -->
	<bean id="moduleInfoAction" class="com.by.hctm.system.action.TSysModuleInfoAction"   scope="prototype">
		<property name="iTSysModuleInfoBiz" ref="iTSysModuleInfoBiz" />
	</bean>
	<bean id="iTSysModuleInfoBiz" class="com.by.hctm.system.biz.impl.TSysModuleInfoBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	<!-- 角色管理 -->
	<bean id ="TSysRoleAction" class ="com.by.hctm.system.action.TSysRoleAction" scope="prototype">
			<property name="iTSysRoleBiz" ref="iTSysRoleBiz"></property>
			<property name="IRightsBIZ" ref="IRightsBIZ"></property>
			<property name="iSysRoleRightInfoBiz" ref="iSysRoleRightInfoBiz"/>
			
	</bean>
	<bean id ="iTSysRoleBiz" class ="com.by.hctm.system.biz.impl.TSysRoleBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	
	<!-- 角色权限管理 -->
	<bean id ="SysRoleRightInfoBizAction" class ="com.by.hctm.system.action.TSysRoleRightInfoAction" scope="prototype">
			<property name="iSysRoleRightInfoBiz" ref="iSysRoleRightInfoBiz"/>
			<property name="iTSysRoleBiz" ref="iTSysRoleBiz"></property>
			<property name="ITSysRoleUserInfoBiz" ref="ITSysRoleUserInfoBiz" />
			<property name="IDepartmentsBIZ" ref="IDepartmentsBIZ" />
			<property name="iUsersBiz" ref="iUsersBiz" /> 
	</bean>
	<bean id ="iSysRoleRightInfoBiz" class ="com.by.hctm.system.biz.impl.TSysRoleRightInfoBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	<!--  用户角色管理 -->
	<bean id ="ITSysRoleUserInfoBiz" class ="com.by.hctm.system.biz.impl.TSysRoleUserInfoBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	
	<!-- 数码照片类别管理 
	<bean id ="PhotoKindAction" class ="com.by.hctm.system.action.PhotoKindAction" scope="prototype">
		<property name="photoKindBiz" ref="photoKindBiz"></property>
	</bean>
	
	<bean id ="photoKindBiz" class ="com.by.hctm.system.biz.impl.PhotoKindBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	-->
	<!-- 短信收发模块 
	<bean id ="MessageAction" class ="com.by.hctm.system.action.MessagesAction" scope="prototype">
		<property name="messagesBiz" ref="messagesBiz"></property>
	</bean>
	
	<bean id ="messagesBiz" class ="com.by.hctm.system.biz.impl.MessagesBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	-->
</beans>