.AppDraggable {
  margin: 10px;
  display: inline-block;
}
.AppDraggable * {
  cursor: url(./assets/cs.png) 10 10, pointer;
}

/**antd **/
.ant-tabs-nav .ant-tabs-tab:hover {
  color: rgb(245, 159, 22) !important;
}
.ant-tabs-nav .ant-tabs-tab-active {
  color: rgb(245, 159, 22) !important;
}
.ant-tabs-ink-bar {
  background-color: rgb(245, 159, 22) !important;
}
.ant-btn:hover, .ant-btn:focus {
  color: rgb(245, 159, 22) !important;
  border-color: rgb(245, 159, 22) !important;
}
/**end**/